
.rt-Button.rt-r-size-3 {
    /* Default height for smaller screens (0px to first breakpoint) */
    height: 2rem;
    font-size: small;
}

@media (min-width: 768px) { 
    .rt-Button.rt-r-size-3 {
        height: 2rem;
        font-size: medium;
    }
}

@media (min-width: 992px) {
    .rt-Button.rt-r-size-3 {
        height: 3rem;
        font-size: medium;
    }
}

@media (min-width: 1200px) { 
    .rt-Button.rt-r-size-3 {
        height: 3rem;
        font-size: large;
    }
}

@media (min-width: 1400px) {
    .rt-Button.rt-r-size-3 {
        height: 3rem;
        font-size: large;
    }
}